.wrapper>div {
    border-radius: 0;
}

.plan{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0 20px;
    position: relative;
}

.plan::before {
    content: "";
    position: absolute;
    width: calc(100% - 6px);
    height: calc(100% - 6px);

    top: 3px;
    left: 3px;
    border: 3px solid white;
}

.plan h2 {
    margin-bottom: 15px;
    color: white;
    font-size: 24px;
    font-weight: bold;
}

div.price {
    color: white;
    font-size: 2.5rem;
    font-weight: 500;
    position: relative;
}

div.price::before {
    content: "$";
    font-size: 1.5rem;
    position: absolute;
    font-weight: 500;
    top: 0;
    left: 0;
    translate: -125% -25%;
}

main ul {
    margin-top: 15px;
}

main li {
    padding: 15px 0;
    display: flex;
    gap: 10px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.237);
}


main li span {
    flex: 1;
    color: black !important;
    font-size: 15px;
    font-weight: 400;
}

.fa-check {
    color: #22c55e;
    font-size: 18px;
}

.fa-circle-info {
    color: gray;
    font-size: 15px;
}

.fa-xmark {
    color: red;
    font-size: 18px;
}
.join {
    margin-top: 20px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;

}

.green {
    background-color: #22c55e;
}

.blue {
    background-color: #0075ff;
}

.orange {
    background-color: #f59e0b;
}