
.wrapper {
    grid-template-columns: minmax(200px,1fr) 2.5fr;
}

/* My profile Start */

.my-profile {
    grid-column: 1/-1;
    display: flex;
    flex-wrap: wrap;
}

.my-profile .porfile-info {
    min-width: 300px;
}

@media (max-width: 767px) {
    .my-profile .porfile-info {
        min-width: 100%;
    }
    .wrapper {
        grid-template-columns: 1fr !important;
    }
}

.my-profile .porfile-info  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-bottom: 20px;
}

.my-profile img {
    width: 120px;
    border-radius: 50%;
}

.my-profile h3 {

}

.my-profile .level {
    font-weight: 600;
}

.my-profile .progress-level {
    width: 130px;
    height: 4px;
    background-color: #eeeeee;
    border-radius: 30px;
    position: relative;
}

.my-profile .progress-level::before {
    content: "";
    width: 70%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: #0075ff;
    border-radius: 30px;
}

.my-profile .icons i {
    font-size: 14px;
    color: #ffd700;

}

.my-profile .rating {
    font-size: 14px;
    margin-top: -5px;
    font-weight: 600;
}

/* 2 */


.my-profile .info {
    flex: 1;

}

.my-profile .info .box {
    padding-top: 20px;
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    gap: 15px;
    
}

.my-profile .info .box:not(.my-profile .info .box:last-child) {
    border-bottom: 1px solid rgba(128, 128, 128, 0.212);
}

.my-profile .info h4 {
    color: gray;
    font-weight: 600;
    grid-column: 1/-1;
    text-align: left;
}

.my-profile .info .text span {
    font-size: 15px;
    font-weight: 500;
}

.my-profile .info .text span:last-child {
    color: black;
}


.my-profile .info input {
    height: 20px !important;
    width: 90px !important;
}

.my-profile .info input::before {
    width: 15px !important;
    font-size: 12px !important; 
}

.my-profile .info input:checked::before {
    transform: translateX(430%) !important;
}


@media (max-width:767px) {
    .my-profile .info .box {
        display: grid;
        grid-template-columns:1fr;
        gap: 15px;

    }
    .my-profile .info h4 {
        grid-column: 1/-1;
        text-align: center;
    }

    .my-profile .info input {
        grid-column: 1/-1;
        justify-self: center;
    }
}
/* My profile End */

/* My Skills Start */

.my-skills ul {
    margin-top: 20px;
}

.my-skills ul li {
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;

    gap: 10px;
}

.my-skills ul li:not(:last-child) {
    border-bottom: 1px solid rgba(128, 128, 128, 0.24);
}

.my-skills ul span {
    color: black;
    padding: 5px 7px;
    background-color: #eeeeee;
    font-size: 15px;
    font-weight: 500;
    border-radius: 5px;

}

@media (max-width:767px) {
    .my-skills ul li {
        justify-content: center;
    }
}

/* My Skills End */

/* Latest Activities Start */

.activites .box {
    margin-top: 20px;
    display: flex;
    gap: 15px;
    padding: 10px 0 15px;
}

.activites .box:not(.activites .box:last-child) {
    border-bottom: 1px solid rgba(128, 128, 128, 0.158);
}
.activites .text {
    flex: 1;
}

.activites .text span:first-child {
    display: block;
    color: black;
    line-height: 2;
    font-size: 18px;
    font-weight: 600;
}

.activites .time {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    line-height: 2;
}

.activites .time span:first-child {
    color: black;
    font-size: 16px;

}

.activites img {
    width: 70px;
}

@media (max-width:767px) {
    .activites .box {
        flex-direction: column;
        align-items: center;
    }

    .activites .text {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        text-align: center;
    }

    .activites .time {
        align-items: center;
    }
}



/* Latest Activities End */
